* {
  margin: 0;
  padding: 0;
  --color-base: black;
  --color-base-light: grey;
  --color-base-inverse: white;
  --color-primary: #00cdae;
  --color-border: rgba(0, 0, 0, 0.2);
  --radius: 10px;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  width: 100%;
  color: var(--color-base);
}

header {
  background-color: var(--color-primary);
  color: var(--color-base-inverse);
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.875rem;
}

main {
  padding: 2.5rem 1.875rem;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

section {
  margin-top: 1.5rem;
  padding: 1.875rem;
  border-radius: 18px;
  border: 1px solid var(--color-border);
  display: grid;
  grid-template-columns: 200px 1fr 0.7fr;
  grid-column-gap: 24px;
}

img {
  border-radius: var(--radius);
  width: 100%;
  height: auto;
}

.food {
  margin-bottom: 1.25rem;
}

.food__title {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.375rem;
}

.food__subtitle {
  font-size: 0.875rem;
  color: var(--color-base-light);
}

.price {
  display: inline-flex;
  align-items: flex-end;
}

.price__currency {
  font-size: 1.5rem;
  color: var(--color-base-light);
}

.price__value {
  line-height: 0.8;
  font-size: 7rem;
  font-family: 'Merriweather', 'Georgia', serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 1.75rem;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.1;
}

p {
  font-family: 'Merriweather', 'Georgia', serif;
  line-height: 2rem;
  padding: 0;
  margin-bottom: 1.75rem;
}

hr {
  margin-bottom: 1.75rem;
  background: var(--color-border);
  border: none;
  height: 1px;
}

.title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

button {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: var(--radius);
  padding: 10px 12px;
  margin-left: 20px;
  color: var(--color-base-inverse);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--color-primary);
  transition: border 0.2s ease-in;
}

button:hover {
  border: 1px solid var(--color-base-inverse);
  cursor: pointer;
}

button:active {
  border: 1px solid var(--color-primary);
  background-color: var(--color-base-inverse);
  color: var(--color-primary);
  cursor: pointer;
}

button.active {
  border: 1px solid var(--color-primary);
  background-color: var(--color-base-inverse);
  color: var(--color-primary);
  cursor: pointer;
}

button .container {
  padding: 1.25rem 1.875rem;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}
